@media only screen and (max-width: 425px) {
  .block-A {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .block-B {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .first-row-game {
    display: flex;
    justify-content: center;
    height: 110%;
  }

  .first-row-game::after {
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .second-row-game {
    display: flex;
    justify-content: center;
    height: 110%;
  }

  .second-row-game ::after {
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .img-css {
    width: 120px;
  }

  body {
    background-color: blue;
  }
}
