/* enable phone to scroll and hide genre bar */
@media only screen and (max-width: 425px) {
  .block-A {
    display: none;
  }
  .block-B {
    display: none;
  }
  .content-container {
    height: auto;
  }
}

/* center and margin */
@media only screen and (max-width: 425px) {
  .first-row-game {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    margin-bottom: 10px;
  }
  .game-container {
    height: fit-content;
  }
  .second-row-game {
    display: flex;
    justify-content: space-around;
    height: fit-content;
  }
  .game1 {
    margin: 8px 8px;
  }
}
/* img resize */
@media only screen and (max-width: 425px) {
  .img-css {
    width: 120px;
  }
}
