body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: block;
}

.bodyContainer {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 15%;
  background-color: black;
  overflow: hidden;
}

.header::after {
  content: "";
  clear: both;
  display: table;
  z-index: 0;
}

.topbar {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.marginleft {
  margin-left: 2%;
  padding: 0;
  margin-top: -0.8%;
}

.logo {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.textbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.searchbox {
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 0;
}

.searchicon {
  width: 20%;
  padding-left: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.fa-search {
  color: red;
  font-size: 1.3rem;
  background-color: black;
}

.searching {
  display: block;
}

.topright {
  display: flex;
  margin-top: 35%;
  width: 100%;
  height: 35%;
}

.registerlogin {
  width: 8.33333333%;
  display: block;
  margin: auto;
}
.badge-success {
  background-color: green;
  width: 100%;
}
.login {
  background-color: rgb(71, 70, 70);
  width: 100%;
}

.content-container {
  width: 100%;
  height: 70%;
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  height: 15%;
}

.genreBar {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.genreBar::after {
  content: "";
  clear: both;
  display: table;
}

.games {
  height: 85%;
  width: 100%;
}

.first-row-game {
  height: 50%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.second-row-game {
  height: 50%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.fa-magnifying-glass {
  height: 50px;
  width: 50px;
}
