@media only screen and (min-width: 426px) and (max-width: 768px) {
  .bodyContainer {
    height: fit-content;
  }

  .genreBar {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
  }

  .block-topright {
    display: none;
  }
  .genre {
    width: 17%;
  }

  .games {
    height: 100%;
  }
  .content-container {
    height: 87%;
  }
  .mobile-content {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}

@media only screen and (height: 768px) and (width: 631px) {
  .genre {
    width: 22%;
  }
}
