@media only screen and (max-width: 768px) {
  .block-A {
    display: none;
  }

  .games {
    height: 100%;
  }
  .content-container {
    height: 87%;
  }

  .img {
    height: 60%;
  }
}

/* body color */
@media only screen and (max-width: 768px) {
  body {
    background-color: red;
  }
}
